# In case you want to use it in other OS
.DS_Store

# Editor swapfiles
.*.sw?
*~
# Vagrant
/.vagrant

# Terraform
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# credentials file
credentials

# Emacs files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
default.pem
default.pem.pub
